.body {
    position: absolute;
    bottom: 60px;
    left: 10px;
  }
  
  .button {
    display: block;
  }
  
  .buttonImage {
    width: 24px;
    height: 30px;
  }
  
  .buttonImageMobile {
    width: 36px;
    height: 36px;
  }
  
  .disabled {
    opacity: 0.4;
    cursor: default;
  }
  