
.panoScreen {
    overflow: hidden;
    position: absolute;
    bottom:0px;
    right:0px;
    width: 100%;
    height: 50%;
    border: 1px solid black;
    background-size:auto 100%;
    background-color:white;
    background-repeat: repeat-x;
    transition:background-image 2s ease-out;
}

.panoImage {
    position:relative;
    height: 100%;
}

.fullScreen {
    overflow:hidden;
    position: absolute;
    bottom:0px;
    right:0px;
    width: 100%;
    height: 100%;
    border: 1px solid black;
    background-color:white;
}


.compass {
    position: absolute;
    top:20px;
    left:20px;
    transition: transform 1s;
}

.rotateButtonLeft{
    position:absolute;
    top:40px;
    left:40px;
}

.rotateButtonRight{
    position:absolute;
    top:40px;
    left:70px;
}

.closeButton{
    position: absolute;
    top:5px;
    right:5px;
    width:20px;
    height:20px;
}

.resizeButton{
    position: absolute;
    top:5px;
    right:25px;
    width:20px;
    height:20px;
}

@keyframes fadeIn{
    from {opacity: 0;}
    to {opacity: 1;}
}

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}